@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.logo img {
  width: 100px;
  aspect-ratio: 1/1;
}

/* *NAVBAR */
.nav_center {
  width: 95vw;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex-grow: 2;
}
.nav_links {
  flex-grow: 1;
}
.nav_links ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 100%;
  display: block;
}
.food_card {
  width: 350px;
  min-height: 360px;
  aspect-ratio: 1/1;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.5px solid lightgray;
}
.food_card img {
  border-radius: 1rem;
}
.even {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
}
small {
  color: gray;
}
.card_info {
  padding: 0.3rem;
}
.food_card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.filter-btn {
  margin-left: 2rem;
  padding: 0.5rem 1.5rem;
  background-color: orange;
  color: white;
  font-weight: 600;
  border-radius: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.filter-btn:hover {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}
